.assets__view-container{
  border: 1px solid black;
  border-radius: 5px;
}

.assets__view-content h4{
  font-size: 22px;
  padding: 10px;
}
.assets__view-content ul li{
  margin-bottom: 1rem;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
ul li span{
  font-weight: bold;
}