.assets__input{
    display: flex;
    flex-direction: column;
}
.assets__input span{
    margin-bottom: 0.5rem;
}
.assets__input span p{
    font-size: 14px;
    font-weight: 500;
}
.assets__input input[type='text'] {
    padding: 10px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 8px;
}