.assets__add-heading{
    display: flex;
}
.assets__add-heading h4{
    padding: 10px 0;
    color: #000;
    text-align: left;
    font-size: 22px;
}
.assets__add-content {
    margin-top: 1.5rem;
    margin-bottom: 1.4rem;
}
.assets__add-content_input form span{
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
}
.assets__add-content_input form span p{
    margin-bottom: 0.3rem;
    /* font-family: var(--font-family); */
    font-weight: 600;
}
.assets__add-content-select{
    display: flex;
    justify-content: space-between;
}
.assets__add-content_input form span input[type='text']{
    width: 200px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    height: 30px;
    padding-left: 10px;
}
.assets__laptop{
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
}
.assets__card{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
.employee{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.assets__view{
    padding: 8px 15px;
    border: none;
    background-color: var(--bg-color);
    color: #fff;
    border-radius: 5px;
    /* height: 30px; */
    cursor: pointer;
}
