.assets__login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--bg-color);
}
.assets__login-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
    padding: 10px 50px;
    border-radius: 5px;
}
.assets__login-content img{
    width: 100px;
    color: black;
}
.assets__login-content label{
    margin-bottom: 0.5rem;
}
.assets__login-content label p{
    margin-bottom: 0.2rem;
}
.assets__login-content label input{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 200px;
}
.assets__login-content button{
    padding: 8px 15px;
    width: 120px;
    cursor: pointer;
    background-color: var(--bg-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-top: 0.7rem;
}
