.assets__add-card {
    margin-top: 1rem;
}
.assets__add-card button{
    background-color: #1c315e;
}
.assets__add-card button:hover{
    background-color: #294174 !important;
}
.ant-btn-primary{
    background-color: #1c315e;
}
.ant-btn-primary:hover{
    background-color: #294174 !important;
}