*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
html {
  color-scheme: dark light;
}
.logo{
  display: flex;
  justify-content: center;
}
.logo img{
  width: 100px;
  padding: 10px 0;
}
.assets__sidebar{
  height: 100vh;
}
.ant-menu-item{
  margin-block: 10px !important;
}
.anticon-menu-fold{
    margin-left: 10px;
}
.anticon-menu-unfold{
  margin-left: 10px;
}
::-webkit-scrollbar{
  width: 8px;
}
::-webkit-scrollbar-track{
  background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb{
  background-color: rgb(190, 190, 190);
}